.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} 
html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}
.list_title{overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis;}
.d_title{ font-size: 30px;}
.brands-center{height: auto; position: relative; overflow: hidden;}
.brands-center .brand_a{position: absolute; width: 100%; height: 100%; color: #000; font-size: 25px; 
                        letter-spacing: 10px; display: flex; justify-content: center; align-items: center; opacity: 0;
                        background-color: rgba(255, 255, 255, 0.9);}

.brands-center .brand_a:hover{opacity: 1; transform: scale(1.2);}


.unit-spacing-md.unit.right{ justify-content: flex-end;}
.unit-spacing-md.unit.right .unit-body{ display: flex;  align-items: center;}
.unit-spacing-md.unit.right .unit-body .icon-md{margin: 0;  margin-left: 15px;}